/* line 2, app/common.scss */

.tpa-first:hover {
	color: [[tpa-color-1]];
	margin-left: 10px;
}

.tpa-second {
	border: 1px solid #000;
	font:[[Body-M]];
}

.no-tpa {
	border: 1px solid #000;
}

.only-tpa {
	color: [[tpa-color-2]];
}

@media (min-width: 300px) and (max-width: 730px) {
	.tpa-first:hover {
		/*height: 100%;*/
		color: [[tpa-color-1]];
		margin-left: 10px;
		padding: 5px 2px 5px 2px;
	}

	.tpa-second {
		border: 1px solid #000;
		font: [[Body-M]];
	}

	.no-tpa {
		border: 1px solid #000;
	}

	.only-tpa {
		color: [[tpa-color-2]];
	}
}

@keyframes identifier {
	0% { color: [[xxx yyy]]; }
	100% { color:#000; }
}

@font-face {
	font-family: "glyphicons";
	src: url('fonts/glyphicons.eot');
	src: url('fonts/glyphicons.eot?#iefix') format('embedded-opentype'), url('fonts/glyphicons.woff') format('woff'), url('fonts/glyphicons.ttf') format('truetype'), url('fonts/glyphicons.svg') format('svg');
	font-weight: "normal";
	font-style: "normal";
}

.in-the-middle {
	width: 100%;
}

@media (min-width: 300px) and (max-width: 730px) {
	/* comment */
	.tpa-first:hover {
		width: [[ tpa-width ]];
	}
}

@media (min-width: 300px) and (max-width: 730px) {
	/* comment */
	.tpa-first {
		width: 100%;
	}
}